@import '@/styles/base';
@import '@/styles/responsive';

.home {
  &__reason {
    margin-top: 120px;
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px 35px;
    background-color: white;

    &-left {
      flex: 1;
      background-color: white;

      img {
        width: 100%;
        height: 100%;
        max-height: 570px;
        clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0 100%, 0 0);
      }
    }

    &-right {
      background-color: white;
      flex: 1;
      padding-left: 16px;

      h4 {
        font-style: normal;
        font-weight: 600;
        font-size: $text-3xl;
        line-height: 38px;
        color: black;
      }

      .home__reason-title {
        margin-top: 10px;
        font-style: normal;
        font-weight: 600;
        font-size: $text-2xl;
        line-height: 26px;
        color: $primary_600;
        margin-bottom: 34px;
        width: 95%;
      }

      .home__reason-list {
        margin-top: 35px;

        .home__reason-item {
          display: flex;
          align-items: center;
          margin-bottom: 40px;

          .home__reason-icon {
            display: flex;
            width: 60px;
            height: 60px;
            align-items: center;
            justify-content: center;
            position: relative;
            border-radius: 50%;
            background-color: #0088cc;

            img {
              width: 30px;
              height: 30px;
            }
          }

          .home__reason-description {
            flex: 8;
            padding-left: 20px;
            padding-right: 30px;

            h5 {
              font-style: normal;
              font-weight: 500;
              font-size: $text-xl;
              line-height: 26px;
              color: black;
              margin-bottom: 5px;
            }

            p {
              font-style: normal;
              font-weight: 400;
              font-size: $text-base;
              line-height: 26px;
              color: black;
              width: auto;
              text-align: justify;
            }
          }
        }
      }
    }
  }
}

@include responsive_tablet() {
  .home {
    &__reason {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      padding: 20px 25px;
      background-color: white;
  
      &-left {
        flex: 1;
        background-color: white;
  
        img {
          width: 100%;
          height: 100%;
          max-height: 570px;
          clip-path: none
        }
      }
  
      &-right {
        background-color: white;
        flex: 1;
        padding-left: 16px;
  
        h4 {
          font-style: normal;
          font-weight: 600;
          font-size: $text-3xl;
          line-height: 38px;
          color: black;
        }
  
        .home__reason-title {
          margin-top: 10px;
          font-style: normal;
          font-weight: 600;
          font-size: $text-2xl;
          line-height: 26px;
          color: $primary_600;
          margin-bottom: 34px;
          width: 95%;
          text-align: center;
        }
  
        .home__reason-list {
          margin-top: 35px;
  
          .home__reason-item {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
  
            .home__reason-icon {
              display: flex;
              width: 60px;
              height: 60px;
              align-items: center;
              justify-content: center;
              position: relative;
              border-radius: 50%;
              background-color: #0088cc;
  
              img {
                width: 30px;
                height: 30px;
              }
            }
  
            .home__reason-description {
              flex: 8;
              padding-left: 20px;
              padding-right: 30px;
  
              h5 {
                font-style: normal;
                font-weight: 500;
                font-size: $text-xl;
                line-height: 26px;
                color: black;
                margin-bottom: 5px;
              }
  
              p {
                font-style: normal;
                font-weight: 400;
                font-size: $text-base;
                line-height: 26px;
                color: black;
                width: auto;
                text-align: justify;
              }
            }
          }
        }
      }
    }
  }
}

@include responsive_mobile() {
  .home {
    &__reason {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      padding: 20px 25px;
      background-color: white;
  
      &-left {
        flex: 1;
        background-color: white;
  
        img {
          width: 100%;
          height: 100%;
          clip-path: none;
        }
      }
  
      &-right {
        margin-top: 30px;
        background-color: white;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        h4 {
          font-style: normal;
          font-weight: 600;
          font-size: $text-3xl-mobile;
          text-align: center;
          line-height: 38px;
          color: black;
          width: 100%;
        }
  
        .home__reason-title {
          font-size: $text-3xl-mobile;
          text-align: center;
          line-height: 26px;
          color: $primary_600;
          width: 100%;
        }
  
        .home__reason-list {
          margin-top: 25px;
  
          .home__reason-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
  
            .home__reason-icon {
            flex: none;
            display: flex;
            position: relative;

            img {
              width: 30px;
              height: 30px;
            }
          }
  
            .home__reason-description {
              margin-top: 10px;
              display: flex;
              align-items: center;
              flex-direction: column;
              text-align: center;
              padding-left: 20px;
              padding-right: 30px;
  
              h5 {
                font-size: $text-xl-mobile;
                margin-bottom: 15px;
              }
  
              p {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
